{% extends "generic/site_base.html" %}

{% block title %}Авторизация{% endblock %}

{% block content %}
<div id="leftcolumn">


    <div class="rc_panel2">
        <div class="rc_paneltop2"></div>
        <div class="rc_panelbody">
            <form method="post" action="http://www.css-school.ru/">
                <input class="textfield2" name="doing" type="text" value="Что Вы сейчас делаете?" id="keyword" / >
            </form>
        </div>
        <div class="rc_panelbottom2"></div>
    </div>


    <div class="post">
        <div class="postdate">16
            <div class="month">OCT</div>
        </div>
        <div class="postbody">
            <h2>Quisque rhoncus nulla quis sem</h2>
            <div class="tagline">posted by admin - <span>Flash - Video</span></div>
            <img src="/static/img/photo02.gif" alt="" />
            <div class="posttext">
                <p> Duis vitae velit sed dui malesuada dignissim. Donec mollis aliquet ligula. Maecenas adipiscing elementum ipsum. Pellentesque vitae magna. Sed nec est. Duis vitae velit sed dui malesuada dignissim. Donec mollis aliquet ligula. </p>
                <div class="comment_more"><span><span>comments (11) </span>- </span><a href="http://www.css-school.ru/">Read more...</a></div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="postdate">22
            <div class="month">OCT</div>
        </div>
        <div class="postbody">
            <h2>Lorem ipsum dolor sit amet</h2>
            <div class="tagline">posted by admin - <span>CSS - Website</span></div>
            <img src="/static/img/photo04.gif" alt="" />
            <div class="posttext">
                <p> This is a free CSS website from TemplateMo.com. Feel free to edit and apply this template layout for your personal or commercial websites. You may put a credit link back to templatemo.com at the footer.</p>
                <div class="comment_more"><span>comments (6) </span>- <a href="http://www.css-school.ru/">Read more...</a></div>
            </div>
        </div>
    </div><div class="post">
    <div class="postdate">15
        <div class="month">OCT</div>
    </div>
    <div class="postbody">
        <h2>Quisque rhoncus nulla quis sem</h2>
        <div class="tagline">posted by admin - <span>Flash - Video</span></div>
        <img src="/static/img/photo02.gif" alt="" />
        <div class="posttext">
            <p> Duis vitae velit sed dui malesuada dignissim. Donec mollis aliquet ligula. Maecenas adipiscing elementum ipsum. Pellentesque vitae magna. Sed nec est. Duis vitae velit sed dui malesuada dignissim. Donec mollis aliquet ligula. </p>
            <div class="comment_more"><span><span>comments (11) </span>- </span><a href="http://www.css-school.ru/">Read more...</a></div>
        </div>
    </div>
</div><div class="post">
    <div class="postdate">22
        <div class="month">OCT</div>
    </div>
    <div class="postbody">
        <h2>Lorem ipsum dolor sit amet</h2>
        <div class="tagline">posted by admin - <span>CSS - Website</span></div>
        <img src="/static/img/photo04.gif" alt="" />
        <div class="posttext">
            <p> This is a free CSS website from TemplateMo.com. Feel free to edit and apply this template layout for your personal or commercial websites. You may put a credit link back to templatemo.com at the footer.</p>
            <div class="comment_more"><span>comments (6) </span>- <a href="http://www.css-school.ru/">Read more...</a></div>
        </div>
    </div>
</div><div class="post">
    <div class="postdate">15
        <div class="month">OCT</div>
    </div>
    <div class="postbody">
        <h2>Quisque rhoncus nulla quis sem</h2>
        <div class="tagline">posted by admin - <span>Flash - Video</span></div>
        <img src="/static/img/photo02.gif" alt="" />
        <div class="posttext">
            <p> Duis vitae velit sed dui malesuada dignissim. Donec mollis aliquet ligula. Maecenas adipiscing elementum ipsum. Pellentesque vitae magna. Sed nec est. Duis vitae velit sed dui malesuada dignissim. Donec mollis aliquet ligula. </p>
            <div class="comment_more"><span><span>comments (11) </span>- </span><a href="http://www.css-school.ru/">Read more...</a></div>
        </div>
    </div>
</div><div class="post">
    <div class="postdate">22
        <div class="month">OCT</div>
    </div>
    <div class="postbody">
        <h2>Lorem ipsum dolor sit amet</h2>
        <div class="tagline">posted by admin - <span>CSS - Website</span></div>
        <img src="/static/img/photo04.gif" alt="" />
        <div class="posttext">
            <p> This is a free CSS website from TemplateMo.com. Feel free to edit and apply this template layout for your personal or commercial websites. You may put a credit link back to templatemo.com at the footer.</p>
            <div class="comment_more"><span>comments (6) </span>- <a href="http://www.css-school.ru/">Read more...</a></div>
        </div>
    </div>
</div><div class="post">
    <div class="postdate">22
        <div class="month">OCT</div>
    </div>
    <div class="postbody">
        <h2>Lorem ipsum dolor sit amet</h2>
        <div class="tagline">posted by admin - <span>CSS - Website</span></div>
        <img src="/static/img/photo04.gif" alt="" />
        <div class="posttext">
            <p> This is a free CSS website from TemplateMo.com. Feel free to edit and apply this template layout for your personal or commercial websites. You may put a credit link back to templatemo.com at the footer.</p>
            <div class="comment_more"><span>comments (6) </span>- <a href="http://www.css-school.ru/">Read more...</a></div>
        </div>
    </div>
</div><div class="post">
    <div class="postdate">22
        <div class="month">OCT</div>
    </div>
    <div class="postbody">
        <h2>Lorem ipsum dolor sit amet</h2>
        <div class="tagline">posted by admin - <span>CSS - Website</span></div>
        <img src="/static/img/photo04.gif" alt="" />
        <div class="posttext">
            <p> This is a free CSS website from TemplateMo.com. Feel free to edit and apply this template layout for your personal or commercial websites. You may put a credit link back to templatemo.com at the footer.</p>
            <div class="comment_more"><span>comments (6) </span>- <a href="http://www.css-school.ru/">Read more...</a></div>
        </div>
    </div>
</div>
    <div class="post">
        <div class="postdate">15
            <div class="month">OCT</div>
        </div>
        <div class="postbody">
            <h2>Quisque rhoncus nulla quis sem</h2>
            <div class="tagline">posted by admin - <span>Flash - Video</span></div>
            <img src="/static/img/photo02.gif" alt="" />
            <div class="posttext">
                <p> Duis vitae velit sed dui malesuada dignissim. Donec mollis aliquet ligula. Maecenas adipiscing elementum ipsum. Pellentesque vitae magna. Sed nec est. Duis vitae velit sed dui malesuada dignissim. Donec mollis aliquet ligula. </p>
                <div class="comment_more"><span><span>comments (11) </span>- </span><a href="http://www.css-school.ru/">Read more...</a></div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="postdate">11
            <div class="month">OCT</div>
        </div>
        <div class="postbody">
            <h2>Suspendisse feugiat</h2>
            <div class="tagline">posted by admin - <span>3D - Graphics</span></div>
            <img src="/static/img/photo03.gif" alt="" />
            <div class="posttext">
                <p> Duis vitae velit sed dui malesuada dignissim. Donec mollis aliquet ligula. Maecenas adipiscing elementum ipsum. Pellentesque vitae magna. Sed nec est. Duis vitae velit sed dui malesuada dignissim. Donec mollis aliquet ligula. </p>
                <div class="comment_more"><span><span>comments (18) </span> - </span><a href="http://www.css-school.ru/">Read more...</a></div>
            </div>
        </div>
    </div>
</div>
<div id="rightcolumn">
    <div class="rc_panel">
        <div class="rc_paneltop"></div>
        <div class="rc_panelbody">
            <form method="post" action="http://www.css-school.ru/">
                <input class="textfield" name="search" type="text" value="Поиск..." id="keyword"/>
                <input class="button" type="submit" name="Submit" value="Go" />
            </form>
        </div>
        <div class="rc_panelbottom"></div>
    </div>
    <div class="rc_panel">
        <div class="rc_paneltop"></div>
        <div class="rc_panelbody">
            <h3>Мои недавние достижения</h3>
            <ul>
                <li><a href="http://www.css-school.ru/">Duis vitae velit</a></li>
                <li><a href="http://www.css-school.ru/">Aliquet ligula</a></li>
                <li><a href="http://www.css-school.ru/">Elementum ipsum velit</a></li>
                <li><a href="http://www.css-school.ru/">Vitae velit sed</a></li>
                <li><a href="http://www.css-school.ru/">Sed dui malesuada</a></li>
                <li><a href="http://www.css-school.ru/">Pellentesque vitae magna</a></li>
            </ul>
        </div>
        <div class="rc_panelbottom"></div>
    </div>
    <div class="rc_panel">
        <div class="rc_paneltop"></div>
        <div class="rc_panelbody">
            <h3>Рекомендации</h3>
            <ul>
                <li><a href="http://www.css-school.ru/">January, 2020</a></li>
                <li><a href="http://www.css-school.ru/">Fabruary, 2020</a></li>
                <li><a href="http://www.css-school.ru/">March, 2020</a></li>
                <li><a href="http://www.css-school.ru/">April, 2020</a></li>
                <li><a href="http://www.css-school.ru/">May, 2020</a></li>
            </ul>
        </div>
        <div class="rc_panelbottom"></div>
    </div>
</div>
{% endblock %}