<div id="bottompanel">
    <div class="bp_column1">
        <h3>Popular Post</h3>
        <div class="popularpost">
            <h4><a href="http://www.css-school.ru/">Lorem ipsum dolor sit amet</a></h4>
            Author name - Oct 18, 2020 <span class="comment">(12)</span></div>
        <div class="popularpost">
            <h4><a href="http://www.css-school.ru/">Duis vitae velit sed dui malesuada</a></h4>
            Author name - Oct 12, 2020 <span class="comment">(23)</span></div>
        <div class="popularpost">
            <h4><a href="http://www.css-school.ru/">Donec mollis aliquet ligula</a></h4>
            Author name - Oct 11, 2020 <span class="comment">(32)</span></div>
        <div class="popularpost">
            <h4><a href="http://www.css-school.ru/">Quisque rhoncus nulla quis sem</a></h4>
            Author name - Oct 15, 2020 <span class="comment">(25)</span></div>
    </div>

    <div class="bg_recentproject">
        <h3>Recent Project</h3>
        <img src="/static/img/recentproject.jpg" alt="iamge" />
        <p>Duis vitae velit sed dui malesuada dignissim. Donec mollis aliquet ligula. Maecenas adipiscing elementum ipsum.</p>
        <div class="readmore_black"><a href="http://www.css-school.ru/">Read more</a></div>
    </div>
</div>