{% extends "generic/site_base.html" %}

{% block title %}Друзья / TickIt{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
{% if show_friends_filter %}
<form method="post" action="/friends">
    <input class="textfield2" name="search_friends" type="text" value="{{ search_friends }}" id="keyword" />
    <input class="but search_friends" type="submit" name="Submit" value="Поиск" />
</form>
{% endif %}

{% if friends %}
    {% for friend in friends %}
        <div class="aboutco">
            <table class="inform"><tr><td><img class="avatar_small" src="{{ friend.gravatar_url }}"></td>
                <td><a class="name" href="/{{ friend.name }}">&nbsp;{{ friend.name }}&nbsp;</a><br>
             {% if friend.is_authenticated %}
                <br><p class="hint_text">ОНЛАЙН!!!<p><br>
             {% endif %}
             {% if is_authenticated %}

                <input  type="hidden" name="username" value="{{ friend.name }}" />
                {% if friend.already_friend %}
                    <input class="but delete_friends" type="button" name="delete_friends" value="Убрать из друзей" />
                    <input class="but add_friends no_show" type="button" name="add_friends" value="Добавить в друзья" />
                {% else %}
                    <input class="but add_friends" type="button" name="add_friends" value="Добавить в друзья" />
                    <input class="but delete_friends no_show" type="button" name="delete_friends" value="Убрать из друзей" />
                {% endif %}
              {% endif %}
              </td></tr>
            </table>
        </div>

    {% endfor %}
{% else %}
        <p class= "inform_text">{{ empty_text }}</p>
{% endif %}

{% endblock %}