<div id="banner">
    <div class="headersection">
        <div class="logo"></div>
    </div>

    {% if is_authenticated %}
        <div class="aboutco">
            <div class="inform"><img class="avatar_small" src="{{ gravatar_url }}"><a class="name" href="/{{ profile_name }}">&nbsp;{{ profile_name }}&nbsp;</a>|<a class="quit" href="logout">&nbsp;Выход&nbsp;</a></div>
        </div>

    {% else %}
        <div class="aboutco">
            <div class="inform"><a class="name" href="register">&nbsp;Регистрация&nbsp;</a>|<a class="quit" href="login">&nbsp;Вход&nbsp;</a></div>
        </div>

    {% endif %}
</div>