{% extends "generic/site_base.html" %}
{% block title %}Авторизация{% endblock %}

{% block content %}

<div class="vertical_indent"></div>
{% if form.errors %}
<p class="error">Логин или пароль введен неверно.</p>
{% endif %}

<form action="" method="post">
    {% csrf_token %}
     <table class="login_table">
        <tr><th><label for="username">Логин:</label></th>
            <td><input type="text" name="username" value="" id="username"></td>
        </tr>
        <tr><th><label for="password">Пароль:</label></th>
            <td><input type="password" name="password" value="" id="password"></td>
        </tr>
         <tr><th></th>
             <td><a href="/losepassword" >Забыли пароль</a></td>
         </tr>
        <tr><td colspan="2"><input type="submit" class="btn" value="Войти" />
                <!--<input type="hidden" name="next" value="/feed" />--></td>
        </tr>
     </table>
</form>

{% endblock %}
