{% extends "generic/centered.html" %}
{% block title %}Забыли пароль / TickIt{% endblock %}

{% block content %}

{% if success %}
    <h2>Пароль выслан вам на почту. Самое время <a href="/login">войти</a>.</h2>
{% else %}
  <form class="form-inline" action="" method="post"><fieldset>
    {% csrf_token %}

    <legend><a href="/">TickIt</a> вышлет вам пароль</legend>

    {% for error in errors %}
      <div class="control-group alert alert-error">{{ error }}</div>
    {% endfor %}

    <div class="control-group">
      <label for="email">на почту</label>
      <input type="email" name="email" value="" id="email">
      <input type="submit" class="btn btn-primary" value="Выслать пароль" />
    </div>
  </fieldset></form>
{% endif %}

{% endblock %}
