{% extends "generic/site_base.html" %}

{% block title %}{{ profile_name }}{% endblock %}

{% block content %}

{% if is_my_page %}
    <p class="hint_text">Это вы</p>
{% endif %}

{% if not is_my_page %}
        <table width="100%"><tr><td align="left" valign="bottom"><p class="hint_text"> {{ user_last_activity }}</p></td>
            <td align="right" valign="top">
                <input  type="hidden" name="username" value="{{ profile_name }}" />
                {% if already_friend %}
                    <input class="but delete_friends" type="button" name="delete_friends" value="Убрать из друзей" />
                    <input class="but add_friends no_show" type="button" name="add_friends" value="Добавить в друзья" />
                {% else %}
                    <input class="but add_friends" type="button" name="add_friends" value="Добавить в друзья" />
                    <input class="but delete_friends no_show" type="button" name="delete_friends" value="Убрать из друзей" />
                {% endif %}
            </td></tr></table>
        
{% endif %}

    <!--<div class="rc_panel2">
        <div class="rc_paneltop2"></div>
        <div class="rc_panelbody">
            <form method="post" action="http://www.css-school.ru/">
                <input class="textfield2" name="doing" type="text" value="Что Вы сейчас делаете?" id="keyword" />
            </form>
        </div>
        <div class="rc_panelbottom2"></div>
    </div>-->

    {% for task in tasks %}
        <div class="post">
            <div class="postdate">&thinsp;
                <div class="month">&thinsp;</div>
            </div>
            <div class="postbody">
                <h2>{{ task.name }}</h2>
                <div class="tagline">Добавлено: {% if task.added %}{{ task.added|date:"d.m.Y, H:m"  }}{% else %}очень давно.{% endif %}</span></div>
                <img src="/media/{{ task.image }}" alt="" />
                <div class="posttext">
                    <p>{{ task.description }}</p>
                    <div class="comment_more"><span><span>Статус: {{ task.get_status }}</span></span></div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}