{% extends "generic/site_base.html" %}

{% block title %}Регистрация / TickIt{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
    {% if errors %}
        {% for error in errors %}
            <p class="error">{{ error }}</p>
        {% endfor %}
    {% endif %}
   <form action="" method="post">
    <table class="reg_tbl">{{ form.as_table }}</table>
    {% csrf_token %}
    <input type="submit" class="but" value="Зарегистрироваться (СДЕЛАЙТЕ ЭТУ КНОПКУ ПО ЦЕНТРУ, КТО-НИБУДЬ!!!)">
  </form>
{% endblock %}
