<div id="rightcolumn">
    {% if is_authenticated %}
        <div class="rc_panel">
            <div class="rc_paneltop"></div>
            <div class="rc_panelbody">
                <form method="post" action="/search_friends">
                    <input class="textfield" name="search_word" type="text"
                           value="{% if search_word %}{{ search_word }}{% else %}Поиск людей{% endif %}"
                           onblur="if (value=='')value='Поиск людей'"
                           onfocus="if (value=='Поиск людей')value=''; focus()"
                           id="keyword"/>
                    <input class="button" type="submit" name="Submit" value="Go" />
                </form>
            </div>
            <div class="rc_panelbottom"></div>
        </div>
    {% endif %}


        <div class="rc_panel">
            <div class="rc_paneltop"></div>
            <div class="rc_panelbody">
                <!--<h3>Мои недавние достижения</h3>-->
                <ul>
                    {% if is_authenticated %}
                        <li><a href="/{{ my_username }}">Моя страница</a></li>
                        <li><a href="/settings">Настройки</a></li>
                    {% else %}
                        <li><a href="/">Главная страница</a></li>
                    {% endif %}
                    <li><a href="/about">О проекте</a></li>
                    <li><a href="/help">Помощь</a></li>
                    <li><a href="/confidentiality">Условия конфиденциальности</a></li>
                </ul>
            </div>
            <div class="rc_panelbottom"></div>
        </div>




    <div class="rc_panel">
        <div class="rc_paneltop"></div>
        <div class="rc_panelbody">
            <h3>Рекомендации</h3>
            <ul>
                <li><a href="http://www.css-school.ru/">January, 2020</a></li>
                <li><a href="http://www.css-school.ru/">Fabruary, 2020</a></li>
                <li><a href="http://www.css-school.ru/">March, 2020</a></li>
                <li><a href="http://www.css-school.ru/">April, 2020</a></li>
                <li><a href="http://www.css-school.ru/">May, 2020</a></li>
            </ul>
        </div>
        <div class="rc_panelbottom"></div>
    </div>
</div>