{% extends "generic/basic_html.html" %}

{% block styles %}
  <style type="text/css">
    body {
      position: absolute;
      height: 100%;
      width: 100%;
	    text-align: center;
    }
	    	    
    table#valign {
      position: relative;
      height: 100%;
      width: 100%;
      border-spacing: 0;
      border-collapse: collapse;
    }

    #inner {
      width: 500px;
      display: inline-block;
      text-align: left;
    }
  </style>
{% endblock %}



{% block body %}
  <table id="valign"><tr><td>
    <div id="inner">
      {% block content %}{% endblock %}
    </div>
  </td></tr></table>
{% endblock %}
