{% extends "generic/basic_html.html" %}



{% block styles %}
  <style type="text/css">
    * {
      margin: 0;
      padding: 0;
    }

    body {
      position: absolute;
      height: 100%;
      width: 100%;
	    text-align: center;
    }
	    	    
    table.valign {
      position: relative;
      height: 100%;
      width: 100%;
      border-spacing: 0;
      border-collapse: collapse;
    }
  </style>
{% endblock %}



{% block body %}
  <table class="valign"><tr><td>

    <!--div class="center">
      <script type="text/javascript">ponyCountdown();</script>
    </div>

    <div class="login">
      <a class="login" href = "/register" >Регистрация</a><br>
      <a class="login" href = "/login" >Войти</a><br>
    </div-->

    {% block content %}{% endblock %}

  </td></tr></table>
{% endblock %}
