{% extends "generic/basic_html.html" %}

{% block title %}TickIt{% endblock %}</title>

{% block styles %}
  <link rel="stylesheet" type="text/css" href="/static/css/style.css"  />
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="/static/js/friends.js"></script>
{% endblock %}



{% block body %}
<div id="container_wrapper">
    <div id="container">

        {% include "header.html" %}

        {% include "nav_menu.html" %}

        <div id="content">
            <div id="leftcolumn">
            {% block content %}{% endblock %}
            </div>
            {% include "right_menu.html" %}
        </div>

        {% include "footer.html" %}

        {% include "information.html" %}

    </div>
</div>
{% endblock %}
